<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .light {
      width: 50px;
      height: 50px;
      border-style: solid;
      border-radius: 50%;
      display: table-cell;
      align-content: center;
      text-align: center;
      vertical-align: middle;
    }

    .on {
      background-color: yellow;
    }

    .off {
      background-color: gray;
    }
  </style>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(lid, index) of lids">{{index}} {{lid}}</li>

    </ul>

    <div v-for="(lid, index) of Object.keys(lights)" :class="{light: true, on: lights[lid], off: !(lights[lid])}"
      v-on:click="turn(lid)">{{lid}}</div>


  </div>
</body>
<script>
  const { createApp, reactive, ref } = Vue
  createApp({
    setup() {
      const lids = ['l1', 'l2', 'l3', 'l4', 'l5']
      for (let lid of lids) {
        console.log(lid)
      }
      const lights = reactive({
        l1: false,
        l2: false,
        l3: false,
        l4: false,
        l5: false
      })
      function turn(lid) {
        lights[lid] = !lights[lid]
      }
      return { lights, turn, lids }
    }
  }).mount('#app')
</script>

</html>